idsvr_license= # The JWT containing the Curity Identity Server license.
gh_client_id= # The ID of a GitHub application that will be used to run the authenticator in the test.
gh_client_secret= # The secret of the GitHub application that will be used to run the authenticator in the test.
